
Game/Game_try/.mono/metadata/ide_messaging_meta.txt
Game/Game_try/План разработки/~$План Разработки.xlsx
Game/Game_try/Tile_Set_for_Fiting_scene-export.png
Game/Game_try/Документация Разработки/Все о персонажах/Поведение персонажей.docx
Game/Game_try/Tile_Set_for_Fiting_scene-export.png
Game/Game_try/Tile_Set_For_Fight_Scene.tres
Game/Game_try/Game/Tile_setsTools_for_level/Tile_sets/Tile_set_for_fiht_Scene.tscn
Game/Game_try/Game/LocationsLevels/Max_level_Fight_Scene.tscn
Game/Game_try/Game/LocationsLevels/Main_Menu_Scene.tscn
Game/Game_try/.import/Tile_Set_for_Fiting_scene-export.png-0c3e3a58f98eee967104c6d60aebf27d.stex
Game/Game_try/.import/Tile_Set_for_Fiting_scene-export.png-0c3e3a58f98eee967104c6d60aebf27d.md5
